/* Navbar */
nav {
    background-color: #ddbea9;
}

nav ul a {
    color: #3f4238;
}

nav ul a:hover {
    color: #000000;
    text-decoration: underline;
}

nav .brand-logo {
    color: #000000;
    text-decoration: none;
}

nav a {
    color: #000000;
}

nav a:hover {
    color: #000000;
}