@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* Navbar */
nav {
    background-color: #f8edeb;
}

nav ul a {
    color: #081c15;
}

nav ul a:hover {
    color: #000000;
    text-decoration: underline;
}

nav .brand-logo {
    color: #000000;
    text-decoration: none;
    font-family: 'Kiwi Maru', serif;
    padding-left: 15px;
}

nav a {
    color: #000000;
}

nav a:hover {
    color: #000000;
}

/* To ensure brand logo doesn't break out of alignment on smaller screen sizes */ 
@media screen and (min-width:200px) and (max-width:375px){
  nav .brand-logo { 
      font-size: 22px;
      padding-left: 0px;
    }
}

/* Footer */
/* Creates sticky footer. CREDIT: https://materializecss.com/footer.html */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
  }

  main {
    flex: 1 0 auto;
  }
/* End credit */

footer {
    background-color: #f8edeb;
    margin-top: 15px;
}

.fab {
    color: #ff7096;
    font-size: 20px;
    padding-left: 5px;
}

.fab:hover {
    text-decoration: underline;
}

/* Home Page */
.img-container img,
.registration-img-div img {
    width:100%;
    object-fit: cover;
}

.main-text {
    margin: 5px;
}

.carousel .carousel-item {
    height: 360px;
    width: 360px;
}

.carousel  {
    background-color: #f8edeb;
}

.carousel .indicators .indicator-item {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel .indicators .indicator-item.active {
    background-color: rgba(0, 0, 0, 0.5)
}

/* Register */

h1 {
    font-family: 'Kiwi Maru', serif;
    font-size: 40px;
}

/* To ensure text doesn't look too large on smaller devices. */ 
@media screen and (max-width: 425px){
  h1 { 
      font-size: 30px;
    }
}

.helper-text {
    font-size: 10px;
}

/* New Review */
.review-p {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    font-weight: bolder;
}

.span-review {
    font-family: 'Playfair Display', serif;
}

/* Buttons */
.edit-btn,
.submit-btn,
.login-btn,
.register-btn {
    background-color: #b08968;
}

.edit-btn:hover,
.submit-btn:hover,
.login-btn:hover,
.register-btn:hover {
    background-color: #b08968;
    text-decoration: underline;
}

.delete-btn,
.cancel-btn {
    background: #7f5539;
}

.delete-btn:hover,
.cancel-btn:hover {
    background-color: #7f5539;
    text-decoration: underline;
}

/* Reviews */
.card-image {
    min-height: 230px;
}

.card .card-image img {
    display: initial;
    width: auto;
}