/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* Navbar */
nav {
    background-color: #f8edeb;
}

nav ul a {
    color: #081c15;
}

nav ul a:hover {
    color: #000000;
    text-decoration: underline;
}

nav .brand-logo {
    color: #000000;
    text-decoration: none;
    font-family: 'Kiwi Maru', serif;
    padding-left: 15px;
}

nav a,
nav a:hover {
    color: #000000;
}

/* Footer */
/* Creates sticky footer. CREDIT: https://materializecss.com/footer.html */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
  }

  main {
    flex: 1 0 auto;
  }
/* End credit */

footer {
    background-color: #f8edeb;
    margin-top: 15px;
}

.fab {
    color: #ff7096;
    font-size: 20px;
    padding-left: 5px;
}

.fab:hover {
    text-decoration: underline;
}

/* Home Page */
.img-container img,
.registration-img-div img {
    width:100%;
    object-fit: cover;
}

.main-text {
    margin: 5px;
}

.carousel .carousel-item {
    height: 360px;
    width: 360px;
}

.carousel  {
    background-color: #f8edeb;
}

.carousel .indicators .indicator-item,
.carousel .indicators .indicator-item.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.home-text {
    font-size: medium;
    letter-spacing: 1px;
}

/* Register */
h1 {
    font-family: 'Kiwi Maru', serif;
    font-size: 40px;
    color: #000000;
}

.helper-text {
    font-size: 10px;
}

/* Buttons */
.btn-small {
    color: #000000;
}

.href {
    color: #000000;
    text-decoration: underline;
}

.edit-btn,
.submit-btn {
    background-color: #b08968;
}

.edit-btn:hover,
.submit-btn:hover {
    background-color: #b08968;
    text-decoration: underline;
}

.delete-btn,
.cancel-btn {
    background: #a16d4a;
}

.delete-btn:hover,
.cancel-btn:hover {
    background-color: #a16d4a;
    text-decoration: underline;
}

.login-btn,
.register-btn,
.login-btn:hover,
.register-btn:hover {
    background-color: #ff7096;
}

/* Reviews */
.card-image {
    min-height: 250px;
}

.card .card-image img {
    display: initial;
    width: 250px;
}

.card-panel {
    margin: .5rem 1rem .5rem 1rem;
}

.card .card-content {
    padding: 20px;
}

.review-p {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    font-weight: bolder;
}

.span-review {
    font-family: 'Playfair Display', serif;
    color: #ff7096;
    letter-spacing: 1px;
}

.card-row {
    background-color: #f8edeb;
    padding: 8px;
}

div.pagination {
    text-align: center;
}

.input-field>label {
    color: #000000;
}

/* General */ 
.input-field .prefix {
    font-size: 20px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Error Handlers */
.error-h1 {
    color: red;
}

.error-a:hover,
.error-a {
    color: black;
    text-decoration: underline;
}

.error {
    background-color: #f8edeb;
}

/* Media Queries */ 
@media screen and (max-width: 425px) {
    .margin-btn {
        margin: 5px;
    }
}

/* To ensure text doesn't look too large on smaller devices. */ 
@media screen and (max-width: 425px){
    h1 { 
        font-size: 30px;
      }
  }

/* To ensure brand logo doesn't break out of alignment on smaller screen sizes */ 
@media screen and (min-width:200px) and (max-width:375px){
    nav .brand-logo { 
        font-size: 22px;
        padding-left: 0px;
      }
  }
/* Add fixed navbar for smaller screen sizes */
  @media screen and (max-width: 600px) {
      nav {
        position: fixed;
        z-index: 5;
      }

      main {
          padding-top: 55px;
      }

      section {
          padding-top: 55px;
      }

  }